<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <h1>Logo</h1>
                <ul id="header-links-container">
                    <div class="links-container">
                        <li id="sign-in-container">
                            <a id="sign-in" href="/login">Sign in</a>
                        </li>
                        <li id="sign-up-container">
                            <a id="sign-up" href="/register">Sign up</a>
                        </li>
                    </div>
                    <li id="account-container">
                        <div id="account"></div>
                        <div id="account-options-container">
                            <ul id="account-options">
                                <li>
                                    <a href="">Account</a>
                                </li>
                                <li>
                                    <a href="">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="card-section">
                <div class="card">
                    <div class="card-image-container">
                        <div class="image-container">
                            <img src="mx-master-3s-mouse-top-view-graphite.webp">
                        </div>
                    </div>
                    <div class="card-info-container">
                        <span class="info-brand">Logitech</span>
                        <h2 class="info-name">Mx Master 3s</h2>
                        <div class="info-price">R$<span >75,00</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <div class="image-container">
                            <img src="mx-master-3s-mouse-top-view-graphite.webp">
                        </div>
                    </div>
                    <div class="card-info-container">
                        <span class="info-brand">Logitech</span>
                        <h2 class="info-name">Mx Master 3s</h2>
                        <div class="info-price">R$<span >75,00</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <div class="image-container">
                            <img src="mx-master-3s-mouse-top-view-graphite.webp">
                        </div>
                    </div>
                    <div class="card-info-container">
                        <span class="info-brand">Logitech</span>
                        <h2 class="info-name">Mx Master 3s</h2>
                        <div class="info-price">R$<span >75,00</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <div class="image-container">
                            <img src="mx-master-3s-mouse-top-view-graphite.webp">
                        </div>
                    </div>
                    <div class="card-info-container">
                        <span class="info-brand">Logitech</span>
                        <h2 class="info-name">Mx Master 3s</h2>
                        <div class="info-price">R$<span >75,00</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <div class="image-container">
                            <img src="mx-master-3s-mouse-top-view-graphite.webp">
                        </div>
                    </div>
                    <div class="card-info-container">
                        <span class="info-brand">Logitech</span>
                        <h2 class="info-name">Mx Master 3s</h2>
                        <div class="info-price">R$<span >75,00</span></div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="showAccount.js"></script>
</body>
</html>